html, body, div, 
h1, h2, h3, h4, h5, h6, 
p, pre,
a, img, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, 
tbody, tfoot, thead, tr, th, td, article, aside, 
canvas, details, embed, figure, figcaption, 
footer, header, hgroup, menu, nav, output, ruby, 
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	font-family: "Figtree";
	color: #444;
}

form {
	border: #ddd solid 1px;
	box-shadow: 4px 4px 20px #444;
	width: 50%;
	height: 80%;
	margin: 5%;
	background: white;
	border-radius: 5px;
	padding: 20px;
}

form h1 {
	font-weight; bold;
	font-size: 2em;
}

form > div {
	margin-bottom: 10px;
}

form > div > input {
	width: 94%;
}

form > div > textarea {
	width: 94%;
}

form label {
	margin-bottom: 5px;
}

form input, form textarea, form select {
	padding: 10px;
}

label,input {
	display: block;
}


body {
	background-image: url("../assets/z1.avif");
	background-size: 120%;
}
